#header{
    font-weight: bold;
    color: purple;
    text-align: center;
}
#body{
    color: lavender;
    
    
}
body{
    background-color: lightgrey;

}
div{
    display: block;
}

/* line styles */
.axis path,
.axis line { 
	fill: none;
	stroke: purple;
	shape-rendering: crispEdges;
}
/* labels */
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.xaxisTitle{
    font-size: 24px;
}
.yaxisTitle{
    font-size: 24px;
}
.graphTitle{
    font-size: 36px;
}

.tooltip{
    background-color: darkorchid;
    color:whitesmoke;
    opacity: 0.75;
}